.not-found-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found-bg-dark {
  background-color: #000000;
}

.not-found-bg-light {
  background-color: #ffffff;
}

.not-found-responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding: 20px;
}

.not-found-img {
  width: 250px;
}

@media screen and (min-width: 768px) {
  .not-found-img {
    width: 400px;
  }
}

.not-found-heading {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 36px;
  }
}

.not-found-heading-text-light {
  color: #f8fafc;
}

.not-found-heading-text-dark {
  color: #334155;
}

.not-found-content {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .not-found-content {
    font-size: 16px;
  }
}

.not-found-content-text-light {
  color: #f8fafc;
}

.not-found-content-text-dark {
  color: #64748b;
}
